<div class="p-4">

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <button (click)="onLogout()" class="btn-logout">Logout</button>
    <h2>Employee Management</h2>
    <button (click)="openNew()" class="btn-add-main" style="margin-bottom: 1rem;">+ Add New Employee</button>
  </div>

  @if (showForm()) {
    <app-employee-new-edit 
      [employeeToEdit]="selectedEmployee()" 
      (onFinished)="handleFinished()">
    </app-employee-new-edit>
  }

  @defer (on timer(500ms)) {
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (e of employees(); track e.id) {
          <tr>
            <td>{{ e.name }}</td>
            <td>{{ e.lastName }}</td>
            <td>{{ e.email }}</td>
            <td>{{ e.phone }}</td>
            <td>
              <button (click)="openEdit(e)" class="btn-edit">Update</button>
              <button (click)="onDelete(e.id!)" class="btn-delete">Delete</button>
            </td>
          </tr>
        } @empty {
          <tr><td colspan="4">No employees registered.</td></tr>
        }
      </tbody>
    </table>
  } @placeholder {
    <div class="placeholder-state"></div>
  } @loading {
    <p class="loading-state">Loading employees...</p>
  }
</div>